<li class="col-lg-4 col-md-6 col-sm-6 newsListingWrap [[+tv.galleryImage:notempty=`Images`]] [[+tv.galleryVideo:notempty=`Videos`]] [[+tv.gallerySlideshow:notempty=`Slideshows`]]">
    <div class="newsListing">
        [[+tv.galleryImage:notempty=`
        <a class="image-popup-vertical-fit" title="[[+pagetitle]]" href="[[+tv.galleryImage:phpthumbof=`f=jpg&q=70&w=1000`]]">
            <img src="[[+tv.galleryImage:phpthumbof=`f=jpg&q=70&w=500`]]" alt="[[+pagetitle]]" class="img-responsive" />
        
            <div class="newsListingText">
                <h3 class="title">[[+pagetitle]]</h3>
                <p>[[+introtext]]</p>
                <div class="date">[[!site_cmd? &json_options=`{"cmd":"output_timeSince","time":"[[+publishedon:strtotime:date=`%m/%d/%Y`]]"}`]]</div>
                <div class="type">
                    <i class="fa fa-file-image-o"></i>
                </div>
            </div>
        </a>
        `]]
        [[+tv.galleryVideo:notempty=`
        <a class="popup-youtube" href="http://www.youtube.com/watch?v=[[+tv.galleryVideo]]">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/[[+tv.galleryVideo]]?rel=0" frameborder="0" allowfullscreen></iframe>
            
            <div class="newsListingText">
                <h3 class="title">[[+pagetitle]]</h3>
                <p>[[+introtext]]</p>
                <div class="date">[[!site_cmd? &json_options=`{"cmd":"output_timeSince","time":"[[+publishedon:strtotime:date=`%m/%d/%Y`]]"}`]]</div>
                <div class="type">
                    <i class="fa fa-youtube-play"></i>
                </div>
            </div>
        </a>
        `]]
        [[+tv.gallerySlideshow:notempty=`
        <div class="main-gallery">[[getImageList? &tvname=`gallerySlideshow` &docid=`[[+id]]` &tpl=`gallerySlideshowTpl`]]</div>
        <div class="popup-gallery">[[getImageList? &tvname=`gallerySlideshow` &docid=`[[+id]]` &tpl=`gallerySlideshowLargeTpl`]]
            <div class="newsListingText">
                <h3 class="title">[[+pagetitle]]</h3>
                <p>[[+introtext]]</p>
                <div class="date">[[!site_cmd? &json_options=`{"cmd":"output_timeSince","time":"[[+publishedon:strtotime:date=`%m/%d/%Y`]]"}`]]</div>
                <div class="type">
                    <i class="fa fa-copy"></i>
                </div>
            </div>
        </div>
        
        `]]
    </div>
</li>
