<div class="col-xs-6 col-sm-4">
	<div class="detailsList animated" data-animation="fadeInUp" data-animation-delay="500">
		<i class="fa fa-[[+tv.icon]] fa-3x"></i>
		<h3>[[+pagetitle]]</h3>
		<p>[[+introtext]]</p>
	</div>
</div>
