<div class="panel panel-default">
	<div class="panel-heading" role="tab">
		<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2[[+idx]]">
				<i class="fa fa-question-circle fa-lg"></i> [[+question]]
			</a>
		</h4>
	</div>
	<div id="collapse2[[+idx]]" class="panel-collapse collapse" role="tabpanel">
		<div class="panel-body">
			[[+answer]]
		</div>
	</div>
</div>