<li data-transition="fade" data-slotamount="1" data-masterspeed="800"  data-saveperformance="off"  data-title="[[+placeholder_heading]]">
		
	<img src="[[+placeholder_image:phpthumbof=`f=jpg&q=30&zc=1&w=1700&h=1000&aoe=1`]]" class="sliderImage" alt="fullslide2" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" />

	<div class="tp-caption sfb stt tp-resizeme"
	data-x="center" data-hoffset="0"
	data-y="center" data-voffset="-20"
	data-speed="600"
	data-start="2100"
	data-easing="Power4.easeOut"
	data-splitin="none"
	data-splitout="none"
	data-elementdelay="0.01"
	style="z-index: 2; white-space: nowrap;"><div class="sliderTextWrap"><div class="sliderHeading">[[+placeholder_heading]]<br/><span class="sliderText">[[+placeholder_text]]</span></div></div></div>

</li>