<li class="col-sm-6 testimonialList">
	<div class="testimonialListInner">
		<i class="fa fa-quote-left fa-3x"></i>
		<div class="quote">[[+placeholder_testimonial]]</div>
		<p class="name">[[+placeholder_author]]</p>
	</div>
</li>