<div class="col-sm-12">
	<div class="tourList animated" data-animation="fadeInUp" data-animation-delay="500">
		<h3>[[+pagetitle]]</h3>
		<p>[[+introtext]]</p>
		<a href="[[~[[+id]]]]" class="btn btn-primary">Find out more</a>
		<a href="[[~39]]" class="btn btn-primary">Book Now</a>
	</div>
</div>
