/* $CONTENTS
/*------------------------------------*/
/**
 * CONTENTS................. You’re reading it!
 * BOOTSTRAP ............... Customisation and Import
 * VARIABLES ............... Other Variables for site
 * WIREFRAME ............... Setting for Wireframe
 * TYPOGRAPHICAL ........... Common elements
 * LISTS ...................
 * IMAGES ..................
 * LAYOUT ..................
 * FORMS ................... 
 * TABLES .................. 
 * HELPER CLASSES .......... 
 * LEGACY ...............Legacy and fallback styles

 */

 @mixin MQ($media) {
 	@if $media == xs-min {
 		@media only screen and (min-width: $screen-xs-min) { @content; }
 	}
 	@else if $media == xs {
 		@media only screen and (max-width: $screen-xs-max) { @content; }
 	}
 	@else if $media == sm-min {
 		@media only screen and (min-width: $screen-sm-min) { @content; }
 	}
 	@else if $media == sm {
 		@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; }
 	}
 	@else if $media == md-min {
 		@media only screen and (min-width: $screen-md-min) { @content; }
 	}
 	@else if $media == md {
 		@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; }
 	}
 	@else if $media == lg-min {
 		@media only screen and (min-width: $screen-lg-min) { @content; }
 	}
 	@else if $media == ret {    
 		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
 	}
 }

 @mixin transition3 {
 	transition: all 0.3s ease-in-out 0s;
 	-o-transition: all 0.3s ease-in-out 0s;
 	-ms-transition: all 0.3s ease-in-out 0s;
 	-moz-transition: all 0.3s ease-in-out 0s;
 	-webkit-transition: all 0.3s ease-in-out 0s;
 }
 @mixin transition6 {
 	transition: all 0.6s ease-in-out 0s;
 	-o-transition: all 0.6s ease-in-out 0s;
 	-ms-transition: all 0.6s ease-in-out 0s;
 	-moz-transition: all 0.6s ease-in-out 0s;
 	-webkit-transition: all 0.6s ease-in-out 0s;
 }
 @mixin transition9 {
 	transition: all 0.6s ease-in-out 0s;
 	-o-transition: all 0.6s ease-in-out 0s;
 	-ms-transition: all 0.6s ease-in-out 0s;
 	-moz-transition: all 0.6s ease-in-out 0s;
 	-webkit-transition: all 0.6s ease-in-out 0s;
 }


/* BOOTSTRAP
/*------------------------------------*/


$black: #000;
$white: #fff;
$green: #749c35;
$brand-primary: $green;

// Bootstrap variables customisation.
// Settings for some of the most global styles. Overrides varation.scss

// Gradient
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Set pallette colors
$brand-primary:         $green !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// Background color for `<body>`.
$body-bg:               #fff !default;

// Global text color on `<body>`.
$text-color:            $gray-dark !default;

// Global textual link color.
$link-color:            $brand-primary !default;

// Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

//== Typography

// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.875)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.75)) !default; // ~12px
$highlight: $gray-light;

// Import Bootstrap
@import "../bs-assets/stylesheets/bootstrap/variables";
@import "../bs-assets/stylesheets/bootstrap";
@import "magnific";


// Small devices (tablets, 768px and up)
// @media (min-width: @screen-sm-min) { ... }

// Medium devices (desktops, 992px and up)
// @media (min-width: @screen-md-min) { ... }

// Large devices (large desktops, 1200px and up)
// @media (min-width: @screen-lg-min) { ... }


/* $VARIABLES
/*------------------------------------*/

// 01 colours






/* $Layout
/*------------------------------------*/

body {
	font-family: Oswald, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

h1, h2 {
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 3px;

	@include MQ(xs){font-size: 28px;}
}

.btn {
	border-radius: 0;
	padding: 14px 30px;
	text-transform: uppercase;
	border: 0;
	margin: 20px 0;
	@include transition3;
}

.btn-primary {
	background-color: $green;

	&:hover {
		background-color: darken($green, 20%);
	}
}

.btn-outline {
	background-color: none;
	border: 1px solid $white;
	color: $white;

	&:hover {
		border: 1px solid $gray-dark;
		color: $gray-dark;
	}
}

header {
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 1100;
	background: url(../images/header-line.png) center bottom no-repeat;
	@include transition6;

	
	.homeLink {
		color: #fff;
		display: inline-block;
		font-size: 0.875em;
		text-transform: uppercase;
		vertical-align: middle;
		letter-spacing: 2px;
		opacity: 0;
		margin-right: 15px;
		position: relative;
		z-index: 1203;
		@include transition6;
		@include MQ(xs){display: none;}

		&:hover {
			text-decoration: none;
		}
	}

	.logoWrap {
		z-index: 1202;
		position: relative;
		width: 100%;
		text-align: center;

		.logo {
			width: 200px;
			display: inline-block;
			margin-top: 21px;
			height: 141px;
			@include transition6;
		}
	}


	&.darkHeader {
		background-color: rgba($black,0.7);
		background-image: none;
		border-bottom: 1px solid $white;

		.logo {
			height: 30px;
			overflow: hidden;
		}
	}

	.navDropLogoOpen {
		.logo {
			height: 141px;
		}
	}
	

	.navDrop {
		background-color: $green;
		box-sizing: border-box;
		height: 460px;
		right: 0;
		opacity: 0;
		padding-top: 0;
		position: fixed;
		top: 0;
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		@include transition6;
		width: 100%;
		z-index: 1201;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			margin-top: 200px;
			@include MQ(xs){margin-top: 178px;}

			li {
				float: left;
				border-right: 1px solid $white;
				text-align: center;

				&:last-child {
					border-right: none;
				}
				@include MQ(xs){
					&:nth-child(2n+2) {
						border-right: none;
					}
				}

				a {
					color: $white;
					padding: 50px 0;
					display: block;
					text-transform: uppercase;
					font-size: 24px;
					@include transition3;
					@include MQ(xs){font-size: 17px; padding: 14px 0;}
					@include MQ(sm){font-size: 21px;}

					i {
						font-size: 36px;
						@include transition3;
					}

					&:hover {
						color: darken($green, 20%);
						text-decoration: none;

						i {
							color: darken($green, 20%);
						}
					}

				}
			}
		}

	}
	.navDropOpen {
		.navDrop {
			opacity: 1;
			transform: translateY(0px);
			-webkit-transform: translateY(0px);
		}
		.homeLink {
			opacity: 1;
		}
	}
	.btn-menu-wrapper {
		height: 63px;
		position: absolute;
		top: 24px;
		right: 0;
	}
	#btn-menu {
		padding: 29px 22px 22px 24px;
		z-index: 1202;
		position: relative;

		span {
			display: inline-block;
			font-size: 0.875em;
			text-transform: uppercase;
			vertical-align: middle;
			color: $white;
		}
		.label {
			letter-spacing: 2px;
			@include MQ(xs){display: none;}
		}
		.icon-container {
			height: 19px;
			position: relative;
			top: 1px;
			width: 29px;
		}
		.line {
			background-color: $white;
			height: 3px;
			position: absolute;
			transform: translate3d(0px, 0px, 0px);
			-webkit-transform: translate3d(0px, 0px, 0px);
			transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
			-webkit-transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
			width: 29px;
		}
		.line01 {
			opacity: 1;
			top: 0;
			transition-delay: 210ms;
			-webkit-transition-delay: 210ms;
		}
		.line02 {
			top: 7px;
			transition-delay: 140ms;
			-webkit-transition-delay: 140ms;
		}
		.line03 {
			top: 14px;
			transition-delay: 70ms;
			-webkit-transition-delay: 70ms;
		}
		.line04 {
			opacity: 0;
			top: 21px;
			transition-delay: 0ms;
			-webkit-transition-delay: 0ms;
		}

		&:focus {
			text-decoration: none;
		}

		&:hover {
			text-decoration: none;

			.line {
				transform: translate3d(0px, -7px, 0px);
			}

			.line01 {
				opacity: 0;
				transition-delay: 0ms;
			}
			.line02 {
				transition-delay: 70ms;
			}
			.line03 {
				transition-delay: 140ms;
			}
			.line04 {
				opacity: 1;
				transition-delay: 210ms;
			}
		}
	}
}


.navDropOpen {
	#btn-menu {
		.line {
			transition: all 0.3s ease 0s;
		}
		.line:nth-child(2), .line:nth-child(4) {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		}
		.line:nth-child(1) {
			opacity: 1;
			top: 7px;
			transform: rotate(-45deg);
		}
		.line:nth-child(3) {
			opacity: 1;
			top: 7px;
			transform: rotate(45deg);
		}

		&:hover .line {
			transform: none;
		}
	}
}

.slider {

	.tp-caption {
		z-index: 5 !important;
	}
	.sliderTextWrap {
		position: relative;
	}
	.sliderHeading {
		font-size: 96px;
		font-weight: 700;
		color: $white;
		text-align: center;
		line-height: 110%;
		
	}
	.sliderText {
		font-size: 36px;
		font-family: 'Pacifico', 'Oswald', Arial, sans-serif;
		color: $white;
		text-align: center;
		font-weight: 300;
		@include MQ(xs){display:none;}
	}
	.sliderImage {
		opacity: 0.5 !important;
	}
}

.bannerImage {
	height: 450px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
}


/* parallax
--------------------------------------------------------*/


.background-image-holder {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #292929;
	background-image: none;
	background-origin: padding-box;
	background-position: 50% 50% !important;
	background-repeat: repeat;
	background-size: cover !important;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 1;
}
.background-image-holder img {
	display: none;
}
.background-multiply .background-image-holder {
	background-blend-mode: multiply;
	background-color: #47b475 !important;
}
.background-image-holder.fadeIn {
	opacity: 1;
}
.parallax > .background-image-holder, .parallax .slides li > .background-image-holder {
	height: 100vh;
	top: -40vh;
	transition: opacity 0.3s ease 0s !important;
}
.parallax:first-child .slides li > .background-image-holder, .parallax:first-child .background-image-holder {
	top: 0;
}
.main-container > a:first-child + .parallax .background-image-holder {
	top: 0;
}
@media all and (max-width: 767px) {
	.parallax > .background-image-holder, .parallax .slides li > .background-image-holder {
		top: 0 !important;
		transform: none !important;
	}
}
.image-bg .container, .image-bg div[class*="col-"] {
	position: relative;
	z-index: 3;
}

.overlay::before {
	background: #292929 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.pagetitle {
	height: 450px;
	overflow: hidden;
	position: relative;

	h1 {
		font-size: 100px;
		color: $white;
		margin-top: 349px;
		@include MQ(sm){font-size: 80px;}
		@include MQ(xs){font-size: 50px;}
	}
}
.pagetitleGallery {
	height: 300px;

	h1 {

		margin-top: 199px;
	}
}

.gallery-cell { 
	width: 100%;

	img {
		width: 100%;
	}
}
.gallery {
	padding: 60px 0;
	@include MQ(xs){padding: 30px 0;}
}
.intro {
	padding: 60px 0;
	@include MQ(xs){padding: 30px 0;}

	p {
		font-size: 21px;	
	}

	.main-gallery {
		margin-bottom: 100px;
	}
}

.imagesx3 {
	img {
		min-width: 100%;
	}
}

.featuredVideo {
	padding: 60px 0;
	background: $gray-lighter;
}

.tourDetails {
	padding: 100px 0 70px 0;
	background: $green;

	@include MQ(xs){padding: 50px 0 30px 0;}

	.detailsList {
		padding: 0 20%;
		color: $white;
		@include MQ(sm){padding: 0 10%;}
		@include MQ(xs){padding: 0 10%;}

		h3 {
			font-family: 'Pacifico', 'Oswald', Arial, sans-serif;
		}

		i {
			color: rgba($white,0.5);
		}
	}
}

.newsListing {
	
	margin-bottom: 30px;

	a {
		&:hover {
			.newsListingText {
				opacity: 0.8;
			}
		}
	}
	.popup-gallery {
		&:hover {
			.newsListingText {
				opacity: 0.8;
			}
		}
	}

	.newsListingText {
		padding: 40px 30px 20px 20px;
		position: relative;
		background: $white;
		@include transition3;

		h3 {
			color: $green;
		}

		.date {
			background: $green;
			padding: 6px 12px;
			position: absolute;
			left: 0;
			top: 0;
			color: $white;
		}
		.type {
			background: $green;
			padding: 6px 12px;
			position: absolute;
			right: 0;
			top: 0;
			color: $white;
		}
	}



}

.intro {
	#calbody .label {
		font-size: 18px;
		line-height: 24px;
		margin: 0 15px;
	}
	#calbody .mxcnav.sm {
		font-size: 14px;
		padding: 0 7px;
	}
	#mxccategories {
		display: none;
	}
	#calbody a, #calbodylist a {
		border-bottom: none;
	}
	#calbodylist {
		margin-top: 30px;
	}
}

#modalText {
	font-family: Oswald, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
}
#sb-player {
	padding: 30px;
}


.bookNow {
	background: rgba($green,0.1);

	.bookNowImage {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 530px;
		width: 100%;

		@include MQ(xs){height: 300px;}
	}

	.bookNowText {
		padding: 10%;

		@include MQ(xs){padding: 20px 0;}
	}
}

#filters {
	list-style-image: none;
	padding: 0;
	margin: 0 0 20px 15px;

	li {
		float: left;
		margin: 5px 10px 15px 0;

		a {
			background: rgba($green, 0.4);
			color: $white;
			padding: 3px 8px;

			&.selected {
				background: rgba($green, 1);
			}
		}

		&:hover a {
			background: rgba($green, 1);
		}
	}
	
	
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:      -o-transform, opacity;
	transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}



.testimonialsSection {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 530px;
	width: 100%;
	position: relative;

	.testimonialsOverlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba($black,0.4);
		z-index: 1;
	}

	.testimonials {
		position: relative;
		text-align: center;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: 2;
		top: 265px;

		ul {


			li {
				color: $white;

				i {
					opacity: 0.5;
				}

				.quote {
					font-size: 24px;
					@include MQ(xs){font-size: 14px;}
				}
				.name {
					@include MQ(xs){font-size: 14px;}
				}
			}
		}

	}
}

#testimonialWrap {

	.testimonialListInner {
		border: 2px solid $green;
		padding: 30px;
		margin-bottom: 40px;
		position: relative;
		background: #fff;

		&:after, &:before {
			top: 100%;
			left: 0px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:before {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 25px 25px 0 0;
			border-color: $green transparent transparent transparent;
			margin-left: -2px;
		}

		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 20px 0 0;
			border-color: #fff transparent transparent transparent;
		}

		.quote {
			font-size: 24px;
			@include MQ(xs){font-size: 14px;}
		}
		i {
			opacity: 0.5;
		}
	}
}


.panel-group {
	border-top: 1px solid $gray-lighter;


	.panel {
		border-bottom: 1px solid $gray-lighter;
		padding: 10px 0;

		h4 {
			margin: 0;

			a {
				display:block;
				padding: 11px 0;
				position: relative;

				&:after {
					font-family: 'FontAwesome';
					content: '\f106';
					position: absolute;
					right: 5px;
					top: 8px;
					font-size: 24px;
				}

				&.collapsed:after {
					content: '\f107';
				}
			}
		}

		.panel-title i {
			padding-right: 8px;
		}

		.panel-collapse {
			padding-bottom: 10px;
		}
	}
}

.bgGallery {
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	background-position: center center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;

	&::before {
		background: #292929 none repeat scroll 0 0;
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
}
.popup-gallery {
	position: relative;
}
.gallerylarge {
	display: block;
	height: 130px;
	position: absolute;
	width: 100%;
	z-index: 100;
}


/*! Flickity v1.1.0
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
	position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
	position: absolute;
	top: 50%;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background: white;
	background: hsla(0, 0%, 100%, 0.75);
	cursor: pointer;
	/* vertically center */
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
	outline: none;
	box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
	filter: alpha(opacity=60); /* IE8 */
	opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
	left: auto;
	right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
	right: auto;
	left: 10px;
}

.flickity-prev-next-button:disabled {
	filter: alpha(opacity=30); /* IE8 */
	opacity: 0.3;
	cursor: auto;
}

.flickity-prev-next-button svg {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
}

.flickity-prev-next-button .arrow {
	fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
	color: #333;
	font-size: 26px;
}

/* ---- page dots ---- */

.flickity-page-dots {
	position: absolute;
	width: 100%;
	bottom: -25px;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 8px;
	background: #333;
	border-radius: 50%;
	filter: alpha(opacity=25); /* IE8 */
	opacity: 0.25;
	cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
	filter: alpha(opacity=100); /* IE8 */
	opacity: 1;
}


.formSegWrap {

	input[type="submit"] {
		border: 2px solid $green;
		color: $green;
		box-sizing: border-box;
		background: $white;
		padding: 10px 28px;
		margin: 15px 0;
		@include transition3;

		&:hover {
			border: 2px solid $gray-dark;
			color: $gray-dark;
		}
	}
}

#ContactForm {
	margin-bottom: 30px;
	
	.formSegWrap {
		box-sizing: border-box;
		float: left !important;
		padding-right: 5px;
		width: 100%;

		input[type="text"], input[type="password"], textarea {
			background-color: #fafafa;
			border: 2px solid #eeeeee;
			box-sizing: border-box;
			float: left !important;
			padding: 6px 4px;
			width: 100% !important;
		}

		&.half {
			width: 50%;

			input[type="text"], input[type="password"] {
				width: 100%;
			}
		}
		&.third {
			width: 33%;

			input[type="text"], input[type="password"] {
				width: 100%;
			}
		}
	}
	input[type="text"], input[type="password"], input[type="email"], textarea, select {
		background-color: #fff;
		border: 1px solid #e5e5e5;
		box-sizing: border-box;
		color: #3c4142;
		font-size: 14px;
		margin: 2px 0 10px;
		padding: 5px;
		width: 100%;
	}
}

.filming {
	padding: 130px 0;

	@include MQ(xs){padding: 50px 0;}
}

.tourList {
	border-bottom: 1px solid $green;
	padding: 30px 0;
}



footer {
	background: #424242;
	padding-bottom: 30px;
	color: $white;

	img {
		margin-bottom: 30px;
	}

	a {
		color: $white;
	}

	.socialIcons {
		margin: 20px 0;
		text-align: center;

		li {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 1px solid $white;
			line-height: 45px;
			text-align: center;
			display: inline-block;
			margin: 3px;
			@include transition3;

			a {
				display: block;
			}

			i {
				@include transition3;
			}

			&:hover {
				border: 1px solid $green;

				i {
					color: $green;
				}
			}
		}
	}
}






/* $IMAGES
/*------------------------------------*/
main img {
	@extend .img-responsive;
}




/* $HELPER CLASSES
/*------------------------------------*/


.animated {
	visibility: hidden;
}
.visible {
	visibility: visible;
}

.noPadding {
	padding-left: 0;
	padding-right: 0;
}
.text-center {
	img {
		display: inline-block;
	}
}


//shows what size this busta is
#site-size-helper {
	height: 1.5em;
	color: green;
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	z-index: 100;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: 
	absolute; 
	width: 1px; 
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
	clip: auto; 
	height: auto; 
	margin: 0; 
	overflow: visible; 
	position: static; 
	width: auto; 
}

svg:not(:root) { 
	overflow: hidden; 
}

.valign {
	height: 100%;
	width: 100%;
	display: table !important;
	overflow: hidden;
}

.vac {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.hac{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

//mm menu fouc destroyer

#menu:not( .mm-menu ) {
	display: none;
}





/* $LEGACY
/*------------------------------------*/

/* webkit, opera, IE9 */
::selection { background: $highlight; }
/* mozilla firefox */
::-moz-selection { background: $highlight; }
// remove dotted border on links forever
a:focus,
a:active {
	outline: none;
	-moz-outline-style: none;
}